<div class="maintitle">
    <div>ngex-mydatepicker</div>
    <p class="subtitle">Upgrade of Original angular-mydatepicker to Standalone</p>
</div>
<div class="pagecontent">
  <div>
    <h4>ngModel example</h4>
    <div class="normalmode">
      <dp-ngmodel>loading...</dp-ngmodel>
    </div>
  </div>

  <div class="flexcontainer">
    <div class="flexitem">
        <h4>Reactive forms example</h4>
        <div class="normalmode">
          <dp-reactive-forms>loading...</dp-reactive-forms>
        </div>
    </div>

    <div class="flexitem">
        <h4>Div host element example</h4>
        <div class="normalmode">
            <dp-div-host>loading...</dp-div-host>
        </div>
    </div>

    <div class="flexitem">
        <h4>Inline example</h4>
        <div class="normalmode">
          <dp-inline>loading...</dp-inline>
        </div>
    </div>

  </div>


  
</div>



