.datePicker {
  margin-top: 20px
}

.submitButton,
.headerActionButton {
    margin-top: 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
    border: #676464 1px solid;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    line-height: 1.33;
    background-color: #e6e5e5;
    border-radius: 5px;
}



